.pms-sb-icon {
  margin-right: 10px;
  margin-top: -8px;
}
.pms-treeview-menu {
  padding-left: 0px;
  list-style-type: none;
}

.pms-toggle-button {
  margin-left: 80px;
  background-color: transparent;
  border: none;
  i {
    color: #fafafa;
  }
}
.pms-toggle-button:focus {
  outline: none;
}
